@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="text-center mb-5">
        <h1 class="display-4">
            Welkom Bij Matrix Inc.
        </h1>
</div>
<div class="homepage-banner mb-4">
    <img src="/MediaFunctional/homepagebanner.png"
            alt="Homepage banner"
            class="img-fluid w-100"
            style="max-height: 180px; object-fit: cover;"/>
</div>
<div>
    <p class="lead">
        Nieuwe producten in ons assortiment:
    </p>
</div>

    <div class="row g-4">
        @foreach (var p in Model.LatestProducts)
        {
            var imagePath = $"/Media/{p.ProductImageName}";
            
            <div class="col-md-4">
                <div class="card h-100 shadow">
                    <img src="@imagePath"
                         class="card-img-top"
                         alt="@p.Name"
                         style="height: 250px; object-fit: cover;" />

                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">
                            @p.Name
                        </h5>

                        <p class="card-text">
                            @p.Description
                        </p>

                        <h4 class="mt-auto">
                            € @p.Price
                        </h4>

                        <div class="d-flex gap-2 mt-3">
                            <a asp-page="/producteninfo"
                               asp-route-id="@p.Id"
                               class="btn btn-info">
                                Info
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>