@page
@model KE03_INTDEV_SE_1_Base.Pages.winkelwagenModel

@{
    ViewData["Title"] = "Winkelwagen";
}

<h1>Winkelwagen</h1>

@if (Model.CartItems.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Aantal</th>
                <th>Prijs</th>
                <th>Totaal</th>
                <th>Actie</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.Product.Name</td>

                    <td>@item.Quantity</td>

                    <td>€ @item.Product.Price</td>

                    <td>€ @(item.Product.Price* item.Quantity)</td>

                    <td class="d-flex gap-1">

                        <form method="post" asp-page-handler="Decrease">
                            <input type="hidden" name="id" value="@item.Product.Id" />
                            <button class="btn btn-outline-secondary btn-sm">-</button>
                        </form>

                        <form method="post" asp-page-handler="Increase">
                            <input type="hidden" name="id" value="@item.Product.Id" />
                            <button class="btn btn-outline-secondary btn-sm">+</button>
                        </form>

                        <form method="post" asp-page-handler="Remove">
                            <input type="hidden" name="id" value="@item.Product.Id" />
                            <button class="btn btn-danger btn-sm">×</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <hr />

    <h4>
        Totaal:
        € @Model.CartItems.Sum(x => x.Product.Price * x.Quantity)
    </h4>

    <div class="d-flex gap-2 mt-3">
        <a asp-page="/Checkout" class="btn btn-success">
            Afrekenen
        </a>

        <form method="post" asp-page-handler="Clear">
            <button class="btn btn-warning">
                Winkelwagen leegmaken
            </button>
        </form>
    </div>
}
else
{
    <div class="alert alert-info">
        Je winkelwagen is momenteel leeg.
    </div>
}